Repository nekeal/hackyeah2024: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-format, ruff, migrations-check, mypy-check

ruff-format:
  name: ruff-format
  entry: ruff format
  require_serial: true
  language: system

ruff:
  name: ruff
  entry: poetry run ruff check --fix --force-exclude
  require_serial: true
  language: system

migrations-check:
  language: system
  name: Check for uncreated migrations
  entry: python manage.py makemigrations --check --dry-run
  pass_filenames: false
  stages:
  - commit
  require_serial: true

mypy-check:
  language: system
  name: Check for mypy
  entry: bash -c 'mypy hackyeah2024'
  stages:
  - commit
  require_serial: true

Get rid of unnecessary workflows
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
Due: none

Rename project to velosafe
  .cruft.json
  .pre-commit-config.yaml
  Makefile
  README.md
  compose.yml
  manage.py
  pyproject.toml
  velosafe/__init__.py
  velosafe/accounts/__init__.py
  velosafe/accounts/admin.py
  velosafe/accounts/apps.py
  velosafe/accounts/factories.py
  velosafe/accounts/migrations/0001_initial.py
  velosafe/accounts/migrations/__init__.py
  velosafe/accounts/models.py
  velosafe/accounts/serializers.py
  velosafe/accounts/tests/__init__.py
  velosafe/accounts/tests/fixtures.py
  velosafe/accounts/tests/test_models.py
  velosafe/accounts/urls.py
  velosafe/accounts/views.py
  velosafe/asgi.py
  velosafe/celery.py
  velosafe/settings/__init__.py
  velosafe/settings/base.py
  velosafe/settings/conf/celery_settings.py
  velosafe/settings/conf/theme.py
  velosafe/settings/local.py
  velosafe/settings/production.py
  velosafe/settings/tests.py
  velosafe/templates/.gitkeep
  velosafe/urls.py
  velosafe/wsgi.py
Due: ruff-format, ruff, migrations-check, mypy-check

Add maps app
  velosafe/maps/__init__.py
  velosafe/maps/admin.py
  velosafe/maps/apps.py
  velosafe/maps/migrations/__init__.py
  velosafe/maps/models.py
  velosafe/maps/tests.py
  velosafe/maps/views.py
  velosafe/settings/base.py
Due: ruff-format, ruff, migrations-check, mypy-check

Add Folium to requirements
  requirements/base.in
  requirements/base.txt
  requirements/dev.txt
  requirements/prod.txt
Due: none

Initialize route planning module
  velosafe/route_planning/__init__.py
  velosafe/route_planning/facade.py
  velosafe/route_planning/geojson_generator.py
  velosafe/route_planning/point.py
Due: ruff-format, ruff, mypy-check

Add geojson to requirements
  requirements/base.in
  requirements/base.txt
  requirements/dev.txt
  requirements/prod.txt
Due: none

Run formatters
  velosafe/accounts/migrations/0001_initial.py
  velosafe/asgi.py
  velosafe/maps/apps.py
  velosafe/settings/base.py
  velosafe/urls.py
  velosafe/wsgi.py
Due: ruff-format, ruff, migrations-check, mypy-check

Fix mypy
  pyproject.toml
Due: none

Create index
  docker-compose.yml
  velosafe/maps/maps.py
  velosafe/maps/urls.py
  velosafe/maps/views.py
  velosafe/templates/map.html
  velosafe/urls.py
Due: ruff-format, ruff, mypy-check

adjust facade
  velosafe/route_planning/facade.py
  velosafe/route_planning/street_data.py
  velosafe/route_planning/weights.py
Due: ruff-format, ruff, mypy-check

change enum in facade
  velosafe/route_planning/facade.py
Due: ruff-format, ruff, mypy-check

implement weights and route finder
  velosafe/route_planning/point.py
  velosafe/route_planning/route.py
  velosafe/route_planning/street_data.py
  velosafe/route_planning/weights.py
Due: ruff-format, ruff, mypy-check

add route planning
  cache/65fb629f501293ae7cf2d5895730ddf5ee4d705a.json
  cache/b81a138afef151ef5eb98d3226b4d67c1d9a79cb.json
  velosafe/route_planning/facade.py
  velosafe/route_planning/street_data.py
  velosafe/route_planning/weights.py
Due: ruff-format, ruff, mypy-check

filter out by preferences
  velosafe/route_planning/facade.py
  velosafe/route_planning/mocks.py
  velosafe/route_planning/street_data.py
  velosafe/route_planning/weights.py
Due: ruff-format, ruff, mypy-check

Adjustments
  requirements/base.in
  requirements/base.txt
  requirements/dev.txt
  requirements/prod.txt
  velosafe/maps/templatetags/__init__.py
  velosafe/maps/templatetags/debug.py
  velosafe/maps/views.py
  velosafe/route_planning/facade.py
  velosafe/route_planning/route.py
  velosafe/route_planning/street_data.py
  velosafe/templates/preferences_form.html
Due: ruff-format, ruff, mypy-check

Improvements
  velosafe/maps/views.py
  velosafe/route_planning/facade.py
  velosafe/route_planning/point.py
  velosafe/settings/base.py
  velosafe/templates/preferences_form.html
  velosafe/urls.py
  velosafe/utils.py
Due: ruff-format, ruff, mypy-check

Add missing param
  velosafe/maps/views.py
Due: ruff-format, ruff, mypy-check

Update template
  velosafe/route_planning/facade.py
  velosafe/templates/preferences_form.html
Due: ruff-format, ruff, mypy-check

Init
  cache/ae9f0a9d28c941dc86d42a225d9dbff557aaac35.json
  velosafe/maps/maps.py
  velosafe/maps/views.py
  velosafe/route_planning/point.py
  velosafe/templates/base.html
  velosafe/templates/map.html
  velosafe/templates/preferences_form.html
Due: ruff-format, ruff, mypy-check

add colors to routes
  cache/ae9f0a9d28c941dc86d42a225d9dbff557aaac35.json
  velosafe/route_planning/facade.py
Due: ruff-format, ruff, mypy-check

Add text search
  velosafe/templates/map.html
  velosafe/templates/preferences_form.html
Due: none

do not return None lol
  velosafe/route_planning/facade.py
Due: ruff-format, ruff, mypy-check

Refactor
  cache/ae9f0a9d28c941dc86d42a225d9dbff557aaac35.json
  velosafe/templates/preferences_form.html
Due: none

Add default
  velosafe/templates/preferences_form.html
Due: none

Add copy button
  velosafe/templates/preferences_form.html
Due: none

Erorr handling
  velosafe/templates/error.html
  velosafe/templates/preferences_form.html
Due: none

Erorr handling
  velosafe/maps/views.py
Due: ruff-format, ruff, mypy-check

Yes
  velosafe/maps/urls.py
  velosafe/templates/preferences_form.html
Due: ruff-format, ruff, mypy-check

Path conditions:
  ruff-format: any of: \.py$
  ruff: any of: \.py$
  migrations-check: any of: (models\.py$|(migrations/.+\.py))
  mypy-check: any of: .+\.py$
